@import "tailwindcss";

body{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    max-width: 270px;
    margin: 0 auto;
    padding:0 5px;
}

.input{
    border: 1px solid #cccccc;
    padding: 2px 8px;
    border-radius: 5px;
}

.btn{
    @apply border-2  py-1 px-3 font-bold text-lg rounded-lg cursor-pointer text-white
}

.pfp{
    max-width: 100px;
}

.nav-item{
    @apply bg-gray-200 w-[52px] pt-[10px] min-w-[65px] min-h-[75px] rounded-md
}

.habit-btn{
    @apply border-2 border-[#483D61] w-[25px] h-[25px] flex items-center justify-center bg-white rounded-sm
}

.stats{
    @apply bg-[#FFFAA3] flex gap-1 rounded-lg px-[10px] py-[3px] items-center justify-center font-light border-1 border-[#483D61] shadow-lg max-h-[25px]}